*{
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 1220px;
    margin: 0 auto;
    position: relative;
}

.container_mainPage{
    display: flex;
    flex-direction: row;
}

.container_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo_link{
    display: flex;
    align-items: center;
    width: 158px;
}


.menu_items{
    display: flex;
    flex-direction: row;
    list-style-type: none;  

}

.menu_link{
    padding: 0px 18px;
    color: white;
    text-decoration: none;
}

.firstPage{
    background: url('../img/banner-bg.jpg') center center/cover no-repeat;
    padding: 5px 0 80px 0;
}

.mainPage{
    margin-top: 60px;
}

.left_block{
    width: 960px;
}

.cover_text{
    color:white;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
}

.card_news{
    display: flex;
}

.card_news:nth-child(n+2){
    margin-top: 50px;
}

.card_news_text{
    margin-left: 30px;
}

.imageCard{
    width: 390px;
}

.card_news_text_links_items{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card_link{
    margin-right: 10px;
    color: #b59f5b;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
}

.card_news_text_headerLink{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.card_news_text_header{
    margin-top: 5px;
    margin-bottom: 0;
}

.card_news_text_dateAuthor{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-top: 15px;
}

.card_news_text_date{
    margin-right: 10px;
    margin-bottom: 0;
    color:grey;
}

.card_news_text_author{
    font-weight: 700;
    margin-bottom: 0;
}

.card_news_text_descriptor{
    font-size: 15px;
    margin-top: 30px;
}
.card_news_text_descriptor_descr{
    margin: 0px;
}

.right_block{
    width: 210px;
    margin-left: 50px;
}

.right_block_header{
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.right_block_line{
    position: relative;
    margin: 15px auto 0 auto;
    height: 3px;
    width: 65px;
    background-color:#b59f5b;

}